# Exclure la base de données locale
db.sqlite3

# Exclure les fichiers générés par Python
*.pyc
__pycache__/

# Exclure les fichiers générés par des outils
dist/
build/

# Exclure les dossiers d'images
assets/pokemon_images/
