# Exclure la base de données locale
db.sqlite3

# Exclure les fichiers générés par Python
*.pyc
__pycache__/

# Exclure les fichiers générés par des outils
dist/
build/

# Exclure le contenu du dossier pokemon_images, mais garder le dossier
pokemon_images/*
!pokemon_images/.gitkeep

# Exclure le contenu du dossier logs, mais garder le dossier
logs/*
!logs/.gitkeep

.vscode/
.venv/
